.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.hero-content {
  top: 30%;
}

.title {
  font-size: 55px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #F1FFE7;
  
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #F1FFE7;
  opacity: 0.9;
}

.github {
  background: url('./assets/github.svg');
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.devpost {
  background: url('./assets/devpost.svg');
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.linkedin {
  background: url('./assets/linkedin.svg');
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.linkedin:hover {
  opacity: 1.0;
}

.devpost:hover {
  opacity: 1.0;
}

.github:hover {
  opacity: 1.0;
}

.icon_container {
  vertical-align: top;
  float: left;
}

