.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.hero-content {
  text-align: left;
  position: relative;
  top: 40%;
  right: -45%;
}

.hero-header {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #F1FFE7;
  
}

.subtitle {
  font-family: 'Karla', sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #F1FFE7;
  opacity: 0.5;
}

.github {
  background: url('./assets/github.svg');
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.5;
}

.devpost {
  background: url('./assets/devpost.svg');
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.5;
}

.linkedin {
  background: url('./assets/linkedin.svg');
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.5;
}

.linkedin:hover {
  opacity: 1.0;
}

.devpost:hover {
  opacity: 1.0;
}

.github:hover {
  opacity: 1.0;
}

.ul{
  width: 20px;
}

.li {
  display: inline-block;
}